extends ./layout/index

block content

    .layout-row
        .layout-item ROW 1
        .layout-item ROW 2
        .layout-item ROW 3
        .layout-item ROW 4

    .layout-row

        .layout-item
            .ui-input
                i.fa.fa-plug
                input

        .layout-item
            .ui-select
                i.fa.fa-plug
                select
                    option AAA
                    option BBBBBBBB

        .layout-item
            .ui-button
                a button