extends ./layout/index

block content
    link(href='/style/user.css', rel='stylesheet')

    form.login-popup(method='post')
        h1.title 注册通行证

        .ui-prop
            .ui-input
                i.fa.fa-user-o
                input#username(name='username', placeholder='用户名')
        .ui-prop
            .ui-input
                i.fa.fa-vcard-o
                input#password(name='password', type='password', placeholder='密码')
        .ui-prop
            .ui-select
                i.fa.fa-venus
                select(name='sex')
                    option(value=0) 保密
                    option(value=1) 男
                    option(value=2) 女
        .ui-prop
            .ui-input
                i.fa.fa-envelope-open-o
                input#email(name='email', placeholder='电子邮箱')
        .ui-prop
            .ui-input
                i.fa.fa-phone
                input#phone(name='phone', placeholder='联系电话')
        .info
            span 已有帐号？直接 
            a(href='/user/login') 登录

        .ui-prop
            .ui-button
                button#submit(type='submit') 注册
    script(src='/scripts/user-register.js')