extends ./layout/index

block content
    link(href='/style/user.css', rel='stylesheet')

    form.login-popup(method='post')
        h1.title 欢迎回来

        .ui-prop
            .ui-input
                i.fa.fa-user-o
                input(name='username', placeholder='用户名')
        .ui-prop
            .ui-input
                i.fa.fa-vcard-o
                input(name='password', type='password', placeholder='密码')

        - if (error) {
            - if (error.username) {
                .info 用户名不存在
            - }
            - if (error.password) {
                .info 密码错误
            - }
        - }

        .info
            span 没有帐号？请尝试 
            a(href='/user/register') 加入我们
            span  吧

        .ui-prop
            .ui-button
                button(type='submit') 登录