extends ./layout/index

block content
    script(src='/scripts/jQuery-3.2.1.js')
    script(src='/scripts/highcharts.js')
    link(href='/style/user.css', rel='stylesheet')

    .layout-row

        .layout-item
            #new-customer

        .layout-item
            #new-order

    .layout-row

        .layout-item
            

    script(src='/scripts/user.js')