.address {
  flex: 1;
  padding: 20px;
}
.address .header {
  display: flex;
  padding: 10px 20px;
}
.address .header .info {
  flex: 1;
}
.address .header .info h1 {
  font-size: 22px;
  padding: 0;
  margin: 10px 8px;
}
.address .header .info .crumbs {
  font-size: 14px;
}
.address .header .info .crumbs i {
  margin: 0 8px;
}
.address .header .operation {
  margin: 40px 15px 0 0;
}
.address .header .operation a {
  font-size: 12px;
  padding: 10px 18px;
  border-radius: 8px;
  background: #1976d2;
  color: #fff;
  cursor: pointer;
}
.address .list table {
  width: 100%;
  font-size: 12px;
  text-align: left;
}
.address .list table tr {
  border-bottom: 1px solid #e1e1e1;
}
.address .list table tr:last-child {
  border: none;
}
.address .list table th,
.address .list table td {
  padding: 6px 12px;
}
.address .info {
  margin-bottom: 30px;
}
.address .info .tabs > div {
  padding: 6px;
  display: inline-block;
  width: 100px;
  text-align: center;
  margin-bottom: 4px;
}
.address .info .tabs > div[active] {
  margin: 0;
  border-bottom: 4px solid #aaa;
}
.address .info form {
  margin-top: 20px;
}
.address .info form .prop {
  margin: 30px 20px;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #aaa;
  max-width: 400px;
}
.address .info form .prop .img {
  background: #aaa;
  line-height: 36px;
  height: 36px;
  width: 36px;
  text-align: center;
  color: #fff;
}
.address .info form .prop .img i {
  line-height: 36px;
}
.address .info form .prop .input {
  display: flex;
  padding: 6px;
  flex: 1;
  font-size: 16px;
}
.address .info form .prop .input input {
  flex: 1;
  font-size: 16px;
  border: none;
  background: none;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
}
.address .info form .prop .input select {
  text-overflow: ellipsis;
  overflow: hidden ;
  width: 33%;
  border: none;
  background: none;
  outline: none;
  text-align: center;
  font-size: 14px;
  padding: 0 10px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
