extends ./components/layout

block content
    link(rel='stylesheet', href='/style/address.css')
    div.address
        div.header
            div.info
                h1 ADDRESS
                div.crumbs
                    i.fa.fa-home
                    span Home
                    i.fa.fa-angle-right
                    span address
            div.operation
                a(href='/address/item') 添加

        div.layout-block.list
            table
                thead
                    tr
                        th aid
                        th name
                        th address
                        th
                tbody
                    tr
                        td 123454
                        td xxx
                        td 福建省厦门市思明区xxx
                        td
                            i.fa.fa-wrench
                    tr
                        td 123454
                        td xxx
                        td 福建省厦门市思明区xxx
                        td
                            i.fa.fa-wrench

