extends ./components/layout

block content
    link(rel='stylesheet', href='/style/home.css')
    form.login(method='post', action='/user/register')
        div.title REGISTER
        div.prop
            div.input
                
                input(name='username', type='text')
        div.prop
            div.input
                input(name='password', type='password')
        div.prop
            input(type='submit', value='注册')