html
    head
        title Test
        link(href='/style/default.css', rel='stylesheet')
        link(href='/style/font-awesome.min.css', rel='stylesheet')
        link(href='/style/layout.css', rel='stylesheet')
        link(href='/style/ui.css', rel='stylesheet')
    body
        include ./header
        .layout-block
            - if (user) {
                include ./slider
            - }
            include ./content