.layout-slider

    .user
        .thumbnail
            img(src='')
        .info
            .name test
            .other
                i.fa.fa-venus
                //- i.fa.fa-mars
        .more
            i.fa.fa-caret-down

    .nav
        .title NAVIGITION
        .list
            a.item(href='/user')
                i.fa.fa-home
                span 信息概览
                i.fa.fa-angle-right
            a.item(href='/shop')
                i.fa.fa-cart-plus
                span 商店管理
                i.fa.fa-angle-right
            a.item(href='/merchandise')
                i.fa.fa-inbox
                span 商品管理
                i.fa.fa-angle-right