html
    head
        title='TEST'
        link(rel='stylesheet', href='/style/default.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')

    body
        link(rel='stylesheet', href='/style/components/layout.css')
        header.layout-header
            div.logo
                div.img
                    a(href='/')
                        i.fa.fa-linode

                div.title
                    a(href='/')
                        span SHOP

                div.more
                    i.fa.fa-bars
            
            div.search
                div.input
                    i.fa.fa-search
                    input

            div.tools
        section.layout-content
            - if (user) {
                div.layout-slider
                    div.user
                        div.portrait
                        div.info
                            div.name=user.name
                        

                    div.navigation
                        div.title NAVIGATION
                        nav
                            a.nav-item(href='/user')
                                i.fa.fa-bar-chart
                                span dashboard
                                i.fa.fa-angle-right

                            a.nav-item(href='/shop')
                                i.fa.fa-shopping-bag
                                span shop
                                i.fa.fa-angle-right

                            a.nav-item(href='/address')
                                i.fa.fa-address-card-o
                                span address
                                i.fa.fa-angle-right

            - }
            div.layout-content
                block content